@charset "utf-8";
@import "_config.scss";

@import "base.scss";

html,body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}
#app{
    height: 100%;
    @extend %border;
    .page{
        padding: 20px;
    }

    .pg-index{

    }
    .pg-foo{

    }
    .pg-bar{

    }
}